<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common_fragments :: common_header(~{::title},~{})">
<meta charset="UTF-8">
<title>Editar pessoa</title>
</head>
<body>
	<header>
		<div th:replace="fragments/header :: header"></div>
	</header>
	
	<main>
		<div th:class="container">		
		
			<div class="divider"></div>
			
			
			<div class="row">
				<div class="col s6 offset-s3">	
				
					<form th:action="@{/pessoas/editar}" th:object="${pessoa}" method="post" >
						<h3>Editar [[*{nome}]]</h3>
						
						<div class="divider"></div><br>
						
						<input type="hidden" th:field="*{id}" required/>
						
						<label>Nome: </label>
						<input type="text" th:field="*{nome}" required/>
						<br>
						<label>Sobrenome: </label>
						<input type="text" th:field="*{sobrenome}" required/>
						<br>
						<label>Idade: </label>
						<input type="number" th:field="*{idade}" required min="1" max="100"/>
						<br>		
						<button class="btn waves-effect waves-light hoverable z-depth-5" type="submit" name="action" th:text="'Salvar'">
							<i class="material-icons right">send</i>
						</button>
						<!-- <input type="submit" value="Enviar"/> -->	
					</form>		
				</div>
			</div>
					
		</div>
	
	</main>



	<div th:replace="fragments/common_fragments :: footer"></div>
</body>
</html>